*{
    color: blueviolet;
    font-family: cursive;
    background-color: azure;
}
/* #p2{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}
.p2{
    background-color: aqua;
} */